h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.topnav {
  overflow: hidden;
  background-color: #429fa2;
}

.topnav a {
  float: left;
  display: block;
  color: #ccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #5a4caf;
    color: white;
}